@page
@model MyEshop.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>لیست کالاها</h1>
<hr />
<p>
    <a asp-page="Add" class="myButton">افزودن کالا</a>
</p>
<table>
    <thead>
        <tr>
            <th>تصویر</th>
            <th>نام</th>
            <th>قیمت</th>
            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    <img src="/images/@(item.Id).jpg" style="max-width:200px; border:1px solid" />
                </td>
                <td>@item.Name</td>
                <td>@item.Item.Price</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id">ویرایش</a>
                    <a asp-page="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>