@model IEnumerable<Product>

@{
    ViewData["Title"] = ViewData["GroupName"];
}

<h1>محصولات گروه @ViewData["GroupName"]</h1>
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_BoxProduct" model="@item" />
    }
</div>

