@using MyEshop.Data.Repositories
@inject IGroupRepository _GroupRepository;

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">گروه ها</a>
    <div class="dropdown-menu" aria-labelledby="dropdown09">
        @foreach (var item in _GroupRepository.GetAllCategries())
        {
            <a class="dropdown-item" href="/Group/@item.Id/@item.Name">@item.Name</a>
        }
    </div>
</li>