<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap 4/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap 4/css/custom.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body dir="rtl">
    <header>
        <a href="/">Admin</a>
    </header>
    <div class="row">
        <div class="col-md-2">
            <nav>
                <ul>
                    <li>
                        <a class="nav-item">Home</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
