
@{
    ViewData["Title"] = "تماس با ما";
}

<h1>تماس با ما</h1>
<hr />
<div class="row">
    <div class="col-mid-3">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما </h4>
                <p class="card-text">09116899164</p>
                <p class="card-text">09039551666</p>
                <p class="card-text">info@Legends.com</p>
            </div>
        </div>
    </div>
    <div class="col-mid-9">
        <div class="jumbotron">
            <h1 class="display-3"> به فروشگاه خوش آمدید </h1>
            <p class="lead">میتوانید از طریق راه های ارتباطی با ما در تماس باشید</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</div>

